h1 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #686461;
}

button {
    padding: 10px 20px;
    background-color: #BACBDB;
    color: #000000;
    border: none;
    cursor: pointer;
}

header {
    background: #BACBDB;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 32px;
    margin-left: 30px;
    margin-right: 30px;
}

section {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

blockquote {
    font-style: italic;
    color: #555;
}

ul {
    list-style-type: disc;
}

article {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #0078d4;
}

footer {
    background-color: #333;
    color: #CEAD6D;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
}

footer a {
    color: #CEAD6D;
}

footer p {
    margin-left: 20px;
    margin-right: 20px;
}

footer button {
    margin-left: 20px;
    margin-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    display: flex;
}

.left_section {
    width: 75%;
}

.right_section {
    width: 25%;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    overflow-x: auto;
}

.responsive-table caption {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.responsive-table thead {
    background-color: #f0f0f0;
}

.responsive-table th,
.responsive-table td {
    padding: 10px;
    text-align: center;
    min-width: 150px;
}

.responsive-table th {
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    z-index: 1;
}

.responsive-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.responsive-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}


@media screen and (max-width: 768px){
    .right_section {
        display: none;
    }
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 9999;
    display: none;
}

.navigation a {
    color: #686461;
    font-size: 24px;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

.navigation a.active {
    font-weight: bold;
}

.navigation a.hover {
    font-style: italic;
}

.bookListPage {
    display: block;
}
